.owner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15vh;
    margin-left: 17vw;
    margin-right: 17vw;
}

img{
    margin: 50px;
    height: 220px;
    width: 270px;
    object-fit: cover;
}
h2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

p {
    display: flex;
    justify-content: center;
    text-align: center;
}